@import "~antd/dist/antd.css";
/* general */
html {
  --theme:normal;
  --purewhite:rgb(255, 255, 255);
  --pureblack:rgb(0, 0, 0);
  --color1:#33c754;
  --color2:#eeeeee;
  --color3:#21770b;
  --color4:#359e1a;
  --color5:#d3ffde;
  --color6:#497554;
  --color7:#4b2b07;
  --color8:#ffa600;
  --color9:rgba(207, 199, 199, 0.32);
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}
body {
  
  background-color: rgb(214, 214, 214);
  font-size: 62.5%;
  font-family: sans-serif;
}
.ant-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--purewhite);
}
.gobal_content_flex {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Enterpage */

.enter_mask {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: var(--pureblack);
  clip-path: polygon(45% 0, 100% 0%, 100% 100%, 60% 100%);
  display: flex;
  flex-direction: row-reverse;
}
.enter_img {
  position: absolute;
  background-image: url(./images/enter_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.enter_logo {
  position: absolute;
  z-index: 3;
  right: 0;
  width: 332px;
  height: 54px;
  margin-right: 5%;
  margin-top: 55px;
}

.enter_r {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  margin-top: 100px;
}

.enter_title h3 {
  font-size: 5.8em;
  font-weight: bold;
  color: var(--purewhite);
  margin-top: 176px;
  text-align: center;
  margin-bottom: 15%;
}

.enter_r_btn_area {
  display: flex;
}
.enter_start_btn {
  width: 190px;
  height: 80px;

  margin-right: 40px;
}
.enter_start_btn h3 {
  font-size: 4em;
  font-weight: bolder;
  /* color: var(--pureblack); */
  text-align: center;
  line-height: 80px;
}
.enter_login_btn h3 {
  font-size: 3.6em;
  color: var(--purewhite);
  font-weight: bolder;
  text-align: center;
  line-height: 72px;
}
/* ----------btn效果試驗----------------- */
.hvr-wobble-horizontal::before {
  background: var(--color1) !important;
}

/* Navbar --------------------------------------------------*/
#nav-toggle {
  display: none;
}
.ham {
  display: none;
}
.Navbar_content {
  width: 247px;
  height: 100vh;
  background-color: var(--pureblack);
  display: grid;
  grid-template-rows: 15% 55% 30%;
  position: fixed;
  z-index: 9;
  /* justify-content: start; */
  /*  */
}
.Navbar_a1 {
  /* background-color: rgb(255, 6, 6); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Navbar_a2 {
  /* background: rgb(6, 184, 255); */
}

.Navbar_a3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* background-color: rgb(255, 6, 201); */
}

/* a1 */
.Navbar_member_img {
  width: 60px;
  height: 60px;
  border-radius: 99px;
  border: var(--purewhite) 3px solid;
}
.Navbar_member_text {
}
.Navbar_member_text h3 {
  font-size: 2.4em;
  color: var(--purewhite);
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}

/* a2 */
.navbar_ico {
  width: 40px;
  height: 40px;
  margin-left: 55px;
}
.navbar_flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.Navbar_w {
  margin-left: 35px;
}
.Navbar_w h3 {
  font-size: 1.8em;
  color: var(--purewhite);
  font-weight: bold;
  margin: auto;
}
.Navbar_Social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Navbar_twitter {
  width: 39px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.Navbar_facebook {
  width: 39px;
  height: 39px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.Navbar_discord {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
/* --btn-- */
.hvr-fade {
  display: flex !important;
}
.hvr-fade:hover {
  background-color: var(--color1) !important;
}
.Navbar_Home:hover .Navbar_w h3 {
  color: var(--pureblack);
  transition-duration: 0.3s;
}
.Navbar_Mod:hover .Navbar_w h3 {
  color: var(--pureblack);
  transition-duration: 0.3s;
}
.Navbar_Texture:hover .Navbar_w h3 {
  color: var(--pureblack);
  transition-duration: 0.3s;
}
.Navbar_Map:hover .Navbar_w h3 {
  color: var(--pureblack);
  transition-duration: 0.3s;
}
.Navbar_Youtuber:hover .Navbar_w h3 {
  color: var(--pureblack);
  transition-duration: 0.3s;
}
/* a3 */

.navbar_choic {
  margin-right: 5px;
  cursor: pointer;

  width: 25px;
  height: 25px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar_choic:after {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  content: " ";
  background-color: var(--purewhite);
  color: rgb(231, 6, 6);
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 50%;
}

.navbar_choic:checked:before {
  content: " ";
  display: block;
  position: relative;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  background: var(--color4);
  border-radius: 99px;
  color: rgb(235, 15, 15);
  font-weight: 400;
  z-index: 1;
}

.navbar_choic_p h3 {
  color: var(--purewhite);
  font-size: 1.8em;
  font-weight: bold;
  margin: auto;
  margin-left: 10px;
}
.navbar_choic_flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.Navbar_pk_text {
  margin-right: 25px;
}
.Navbar_ice_text {
  margin-right: 25px;
}
/* --------------------------------------------------*/
/* Titlebar --------------------------------------------------*/
.Titlebar_flex {
  width: 100vw;
  height: 97px;
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Titlebar_logo {
  width: 308px;
  height: 63px;
  margin-left: 290px;
}
.Titlebar_search {
  height: 48px;
  width: 48px;
  background: var(--color4);
  margin-right: 45px;
}
.Titlbar_search_ico {
  width: 47px;
  height: 47px;
}
/* HomeContent----------------------------------------------- */
.HC_container {
  background-color: var(--purewhite);
  margin-left: 247px;
}

.H_Carousel {
  width: 918px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 78px;
}
.H_Carousel_img {
  height: 348px;
  background-color: var(--color3);
  color: var(--purewhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.H_line {
  width: 1008px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.H_line_box {
  height: 5px;
  background: var(--pureblack);
}
/* ---------------------------- */
.H_middle {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.H_M_a1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.H_M_a2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 40px;
}
.H_M_a3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.H_M_a4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 40px;
}

.H_img {
  width: 234px;
  height: 234px;
  border-radius: 15px;
}
.H_text {
  width: 512px;
  height: 245px;
  display: flex;
  align-items: center;
  /* margin-left: 90px;
  margin-right: 90px; */
}
.H_text p {
  font-size: 2.4em;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
.H_text p span {
  color: var(--color3);
  font-size: 2em;
  font-weight: bold;
}
/* ------------------------- */
.H_bottom {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.H_B_img {
  background-image: url(./images/Home/minecraft.png);
  width: 1002px;
  height: 398px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.H_B_box {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.H_B_LOGO {
  margin-top: 20px;
}
.H_B_btn {
  width: 295px;
  height: 61px;
  background: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 5px var(--color4);
}
.H_B_btn:hover {
  border: outset 5px var(--color4);
}

.H_B_btn h3 {
  font-weight: bold;
  font-size: 2.4em;
  margin: 0;

  color: var(--pureblack);
}
/* Footer */
.Footer_container {
  height: 60px;
  background: var(--color2);
  margin-left: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer_container h3 {
  color: var(--pureblack);
  font-size: 1.8em;
  margin: 0;
}

/* ----------------------------------------------- */
/* Login------------------------------------------ */
.Login_flex {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LoginContent_container {
  margin-left: 247px;
  height: 85vh;
}
.logC_a1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logC_title {
  margin-top: 20px;
}
.logC_title h3 {
  font-weight: bolder;
  font-size: 3.6em;
  line-height: 42px;
  /* display: flex;
  align-items: flex-end; */
  text-align: center;
  color: var(--color6);
  margin: 0;
}
.logC_line {
  width: 202px;
  height: 6px;

  background: var(--color6);
  margin-top: 15px;
}
.logC_a2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logC_box {
  width: 30%;

  background: var(--color6);
  border: 3px solid var(--pureblack);
  box-sizing: border-box;
  margin-top: 40px;
  padding-bottom: 20px;
}

.logC_box_l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logC_form {
}
.logC_form p {
  font-weight: bold;
  font-size: 2em;
  line-height: 16px;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: var(--purewhite);
  margin: 0;
  margin-bottom: 5px;
  margin-top: 30px;
}
.logC_form_input {
  width: 244px;
  height: 38px;
}
/* .logC_form_fgpwd_flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
.logC_form_fgpwd {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--purewhite);
  margin: 0;
  margin-top: 5px;
}
.logC_form_btn_flex {
  display: flex;
  justify-content: center;
}
.logC_form_btn {
  width: 108px;
  height: 38px;

  background: var(--color8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.logC_form_btn h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: var(--color7);
  margin: 0;
}

/* ---------------- */
.logC_box_r {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}
.logC_r_google {
  width: 265px;
  height: 50px;
  background: var(--purewhite);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.logC_r_google_ico {
  width: 35px;
  height: 35px;
}
.logC_r_google_text {
}
.logC_r_google_text h3 {
  font-weight: bold;
  font-size: 2em;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--color3);
  margin: 0;
}

.account_text {
  font-size: 2em;
  font-weight: bold;
  color: var(--purewhite);
  margin-top: 20px;
}
/* signup----- */
.SignupContent_container {
  margin-left: 247px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.SingC_a2 {
  width: 369px;

  left: 659px;
  top: 232px;

  background: var(--color6);
  border: 3px solid var(--pureblack);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.SignupC_bottom_text {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: 30px;
  margin-left: 10px;
}
.SignupC_bottom_text h3 {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 16px;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: var(--purewhite);
  margin: 0;
}
.SignupC_bottom_text span {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 16px;

  margin-left: 5px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: var(--purewhite);
}

/* Fotgetpwd */
.ForgetpwdContent_container {
  margin-left: 247px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Forget_a2 {
  width: 393px;

  background: var(--color6);
  border: 3px solid var(--pureblack);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 10px;
}
.ForgetC_bottom_text {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: 60px;
  margin-left: 10px;
}
.ForgetC_bottom_text h3 {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 16px;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: var(--purewhite);
  margin: 0;
}
.ForgetC_bottom_text span {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;

  color: var(--purewhite);
}

/* Profile */
/* a1------------------------------- */
.PrfC_Sbox_RWD {
  display: none;
}
.ProfileContent_container {
  margin-left: 247px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}
.PrfC_a1 {
  margin-top: 50px;
}
.PrfC_title {
}
.PrfC_title h3 {
  font-weight: bold;
  font-size: 3.6em;
  line-height: 42px;
  display: flex;
  align-items: flex-end;

  color: var(--color6);
  margin: 0;
}
.PrfC_line {
  width: 202px;
  height: 6px;
  background: var(--color6);
  margin-top: 10px;
}

/* a2------------- */
.PrfC_a2 {
  display: flex;
  flex-direction: column;
}
.PrfC_Sbox {
  height: 26px;
  background: var(--color6);
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
.PrfC_Sbox h3 {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--purewhite);
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.PrfC_Bbox {
  width: 100%;
  height: 193px;
  background: var(--color6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.PrfC_Bbox_l {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.PrfC_photo {
  width: 123px;
  height: 123px;
  border: 7px solid var(--purewhite);
  border-radius: 99px;
  margin-right: 50px;
  -webkit-box-shadow: -1px 10px 16px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -1px 10px 16px -4px rgba(0, 0, 0, 0.57);
  box-shadow: -1px 10px 16px -4px rgba(0, 0, 0, 0.57);
}
.PrfC_l_text {
  margin-top: 10px;
}
.PrfC_l_text h2 {
  font-weight: bold;
  font-size: 3.6em;
  line-height: 42px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
}
.PrfC_l_text h4 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
}
.PrfC_l_like_area {
  display: flex;
  flex-direction: row;
}
.PrfC_l_like_ico {
  width: 26px;
  height: 21px;
}
.PrfC_l_like_num {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
  margin-left: 10px;
}
/* ------ */
.PrfC_Bbox_r {
  display: flex;
  flex-direction: row;
  align-self: start;
  margin-top: 15px;
  margin-right: 15px;
}
.PrfC_r_manag_box {
  width: 48px;
  height: 48px;
  background: var(--color4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border: 5px outset var(--color4);
}
.PrfC_r_manag_ico {
  width: 45px;
  height: 45px;
}
.PrfC_r_logout_box {
  width: 48px;
  height: 48px;
  background: var(--color4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px outset var(--color4);
  cursor: pointer;
}
.PrfC_r_logout_ico {
  width: 32px;
  height: 30px;
}

/* a3------------- */
.PrfC_a3 {
  margin-top: 50px;
}
.PrfC_choose_area {
  display: flex;
}
.PrfC_cho_box {
  width: 111.09px;
  height: 37px;
  background: var(--color2);
  border: 1.5px solid var(--color5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.PrfC_cho_box h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--color3);
  margin: 0;
}

.PrfC_cho_hv:hover {
  background: var(--color4);
}
.PrfC_cho_box:hover h3 {
  color: var(--purewhite);
}

.PrfC_view_area {
  margin-top: 20px;
}
.PrfC_view_box {
  width: 100%;
  min-height: 100vh;
  background: var(--color2);
  margin-bottom: 50px;
  
}
/* ------------------------------------- */
.Profile_item {
  width: 260px;
  height: 210px;
  background: var(--color6);
  border-radius: 8px 8px 8px 8px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.Profile_item_img{
  border-radius: 8px 8px 0px 0px;
  width: 260px;
  height: 140px;
}
.Profile_item_text{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;

}
.Profile_item_ico{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete_icon{
  width: 24px;
  height: 24px;
  margin-top: 10px;
  cursor: pointer;
}
.Profile_item_text h3{
  font-weight: bold;
  font-size: 1.6em;
  line-height: 21px;
  display: flex;
  align-items: center;
  
  color: var(--purewhite);
  margin: 0;
}
/* ------------------------------------- */
/* Feed */
.feed_0_flex {
  display: flex;
  justify-content: center;
  align-items: start;
}
.feed_0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.feed_ico {
  width: 97px;
  height: 97px;
}
.feed_box {
  width: 260px;
  height: 62px;
  background: var(--color4);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.feed_box h3 {
  font-weight: bold;
  font-size: 2.8em;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  color: var(--purewhite);
}
/* ---YOUTUBER--------------- */
.Youtube_Container {
  margin-left: 247px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}
.YTC_line {
  width: 155px;
  height: 4px;
  background: var(--color6);
  margin-top: 10px;
}
.YT_Carousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.YTC_a3 {
  margin-top: 20px;
}
.YTC_Content {
}
/* ------- */
.YoutuberList_container {
  min-height: 50vh;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
/* ------------ */
.YTC_Item {
  width: 432px;
  height: 147px;
  background: var(--color6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.YTC_Il {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.YTC_people_img {
  width: 100px;
  height: 100px;
  border-radius: 99px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 20px;
  margin-right: 20px;
}
.YTC_people_text {
}
.YTC_people_text h3 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin: 0;
}
.YTC_people_yt {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.YTC_people_yt h4 {
  font-weight: bold;
  font-size: 2em;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin: 0;
  margin-left: 10px;
}
.YTC_people_yt_ico {
  width: 29px;
  height: 29px;
}
.YTC_Ir {
  margin-right: 20px;
}
.YTC_btn {
  width: 70px;
  height: 40px;
  left: 621px;
  top: 707px;

  background: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .YTC_btn:hover {
  box-shadow: none;
} */
.YTC_btn h3 {
  font-weight: bold;
  font-size: 2em;

  display: flex;
  align-items: center;
  text-align: center;

  margin: 0;
  color: var(--color5);
}
/* YTSingle */
.YTSingle_Container {
  margin-left: 247px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}
.YTS_a2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
}
.YTS_l {
  width: 100%;
}
.YTS_r {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.YTS_intro {
  width: 255px;
  height: 226px;
  background: var(--color6);
}
.YTS_intro_people {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.YTS_intro_people_img {
  width: 60px;
  height: 60px;
  border-radius: 99px;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.YTS_intro_people h2 {
  font-weight: bold;
  font-size: 2.2em;
  line-height: 42px;
  display: flex;
  align-items: center;
  
  

  color: var(--purewhite);
  margin: 0;
}
.YTS_intro_sub {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.YTS_intro_sub h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: var(--color5);
}
.YTS_intro_sub h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin-left: 5px;
}
.YTS_intro_Hnum {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.YTS_intro_Hnum h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: var(--color5);
}
.YTS_intro_Hnum h2 {
  font-weight: bold;
  font-size: 2em;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin-left: 5px;
}
.YTS_yt_btn {
  width: 254px;
  height: 58px;
  background: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
.YTS_yt_ico {
  width: 139px;
  height: 32px;
}
/* ----------------------- */
.YTS_a3 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.YTS_a3-1 {
  display: flex;
  flex-direction: row;
}
.YTS_a3-1_l {
  width: 35%;
}
.YTS_Survival_box {
  width: 320px;
  height: 47px;
  background: var(--color6);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.YTS_Survival_box h3 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
  margin: 0;
}
.YTS_a3-1_r {
  width: 100%;
  display: flex;
  margin-left: 50px;
}
.YTS_a3-1_r p {
  font-weight: normal;
  font-size: 2.4em;
  line-height: 129.69%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: var(--pureblack);
  margin: 0;
}
/* --------------------- */
.YTS_a3-2 {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
.YTS_a3-2_l {
  width: 35%;
}
.YTS_Mod_box {
width: 320px;
  height: 47px;
  background: var(--color6);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.YTS_Mod_box h3 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
  margin: 0;
}
.YTS_Mod_YT {
}
.YTS_a3-2_r {
  width: 100%;
  display: flex;
  margin-left: 50px;
}
.YTS_a3-2_r p {
  font-weight: normal;
  font-size: 2.4em;
  line-height: 129.69%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: var(--pureblack);
  margin: 0;
}
/* ---------ProductHeader_container----------------- */
.ProductHeader_container {
  margin-left: 247px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}

.PHC_line {
  width: 101px;
  height: 4px;
  background: var(--color6);
  margin-top: 10px;
}
.PHC_a2 {
}
.PHC_Carousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.PHC_Carousel_img {
  height: 230px;
  background-color: var(--color3);
  color: var(--purewhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------------- */
.ProductNavbar_container {
  /* margin-left: 247px; */
  /* min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-self: center; */
  /* width: 60%; */
  margin-top: 35px;
}
/* ---------------------- */
.ProductList_container {
  margin-left: 247px;

  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  width: 60%;
  min-height: 60vh;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/* ----ProductItem_container--------------------- */
.ProductItem_container {
  width: 284px;
  height: 290px;
  background: var(--color6);
  border-radius: 8px 8px 8px 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pdI_img {
  width: 284px;
  height: 180px;
  border-radius: 8px 8px 0px 0px;
}
.pdI_Text {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 5px;
  height: 20px;
}
.pdI_Tex_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pdI_Tex_1 h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
}
.pdI_Tag {
  width: 63px;
  height: 20px;
  left: 561px;
  top: 736px;

  background: var(--color5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdI_Tag h4 {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--pureblack);
  margin: 0;
}
.pdI_Tex_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  align-items: flex-end;
}
.pdI_Tex_2 p {
  width: 200px;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: var(--purewhite);
}
.pdI_Likeico {
  width: 22px;
  height: 22px;
  margin-bottom: 20px;
}
/* -----ProductDetail----- */
.ProductDetail_container {
  margin-left: 247px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
}
.PD_a1 {
  margin-top: 50px;
}
.PD_title h3 {
  font-weight: bold;
  font-size: 3.6em;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  color: var(--color6);
  margin: 0;
}
/* a2 */
.PD_a2 {
  display: flex;
  flex-direction: row;
}
.PD_a2_l {
  width: 100%;
}
.PD_main_img {
  width: 100%;
  height: 419px;
  border-radius: 10px;
}
.PD_a2_r {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.PD_a2_r_box1 {
}
.PD_a2_r_box1 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: right;

  color: rgba(0, 0, 0, 0.35);
  margin: 0;
}
.PD_a2_r_box2 {
  width: 270px;
  height: 292px;
  background: var(--color6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.PD_a2_r_box2_people {
  display: flex;
  flex-direction: row;
}
.PD_peopleimg {
  width: 70px;
  height: 70px;
  border-radius: 99px;
  margin-right: 25px;
}
.PD_a2_r_box2_people h3 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
}
.PD_a2_r_box2_info {
}
.PD_icon {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.PD_vision {
  display: flex;
  flex-direction: row;
}
.PD_vision_block {
  display: flex;
  flex-direction: row;
}
.PD_info_ico {
}
.PD_vision_block h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin-right: 10px;
}
.PD_view {
  display: flex;
  flex-direction: row;
}
.PD_view h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin-right: 10px;
}
.PD_view_block {
  display: flex;
  flex-direction: row;
}
.PD_info_ico {
}
.PD_view_block h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
}
.PD_download {
  display: flex;
  flex-direction: row;
}
.PD_download h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin-right: 10px;
}
.PD_download_block {
  display: flex;
  flex-direction: row;
}
.PD_info_ico {
}
.PD_download_block h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
}
.PD_like {
  display: flex;
  flex-direction: row;
}
.PD_like h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
  margin-right: 10px;
}
.PD_like_block {
  display: flex;
  flex-direction: row;
}
.PD_info_ico {
}
.PD_like_block h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: var(--color5);
}
.PD_a2_r_box3 {
  width: 270px;
  height: 60px;
  background: var(--color8);
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hvr-pulse{
  display: flex!important;
}
.hvr-shrink{
  display: flex!important;
}
.PD_like_ico {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.PD_a2_r_box3 h3 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
  margin: 0;
}
/* a3 */
.PD_a3 {
  margin-top: 80px;
  margin-left: 2%;
  margin-right: 2%;
}
.PD_a3_T {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.PD_a3_Simg {
  width: 420px;
  height: 240px;
  border-radius: 10px;
}
.PD_a3_T p {
  font-size: 2.2em;
  line-height: 129.69%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: var(--pureblack);
  width: 430px;
}
.PD_a3_B {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  justify-content: space-between;
}
.PD_a3_Simg {
}
.PD_a3_B p {
  font-size: 2.2em;
  line-height: 129.69%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: var(--pureblack);
  width: 430px;
}
/* a4 */
.PD_a4 {
  margin-top: 120px;
}
.PD_download_bolck {
  display: flex;
  margin-bottom: 8px;
}
.PD_download_ico {
  width: 60px;
  height: 60px;
  background: var(--color4);
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PD_down_icoimg {
  width: 30px;
  height: 30px;
}
.PD_select2 {
  width: 243px;
  height: 60px;
  font-size: 2em;
}
.PD_select2 option {
  line-height: 28px;
  display: flex;
  align-items: center;

  color: var(--pureblack);
}
.PD_download_btn {
  width: 311px;
  height: 60px;
  background: var(--color6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.PD_down_Bicon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.PD_download_btn h3 {
  font-weight: bold;
  font-size: 2.8em;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: var(--purewhite);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
}
/* a5 */
.PD_a5 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.PD_a5-1 {
}
.PD_a5-1 h3 {
  font-weight: bold;
  font-size: 4.8em;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: var(--color6);
  margin: 0;
}
.PD_a5_line {
  width: 220px;
  height: 4px;
  background: var(--color6);
}
.PD_From {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.PD_a5-2_btn {
  width: 100px;
  height: 40px;
  background: var(--color6);
  color: var(--purewhite);
  font-weight: bold;
  font-size: 2em;
}
.PD_a5-2 {
  width: 100%;
  height: 40px;
  background: var(--color9);
  border: 1px solid rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  margin-top: 40px;
  margin-right: 20px;
}
.PD_a5-2 h3 {
}
.PD_a5-3 {
  width: 100%;

  left: 354px;
  top: 1905px;

  background: #edfff1;
  border: 1px solid #b1b9b1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.PD_a5_message {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.PD_mag_img {
  width: 66px;
  height: 66px;
  border-radius: 99px;
  margin-right: 30px;
  margin-left: 30px;
}
.PD_a5_message h3 {
  font-weight: bold;
  font-size: 2.8em;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: var(--pureblack);
  margin: 0;
  margin-right: 10px;
}
.PD_a5_message p {
  font-weight: bold;
  font-size: 2.8em;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: var(--pureblack);
  margin: 0;
}
/* -----------------RWD------------------------------------------- */
@media screen and (max-width: 376px) {
  /* Enterpage */
  .enter_layout {
    background: var(--pureblack);
  }
  .enter_mask {
    position: initial;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: var(--pureblack);
    clip-path: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 370px;
  }
  .enter_img {
    position: absolute;
    background-image: url(./images/enter_img.png);
    width: 100vw;
    height: 286px;
    z-index: 9;
    margin-top: 78px;
  }

  .enter_logo {
    left: 80px;
    top: 25px;
    width: 217px;
    height: 35px;
    margin: 0;
  }

  .enter_r {
    margin: 0;
  }

  .enter_title h3 {
    font-size: 2.8em;
    margin: 0;
  }

  .enter_r_btn_area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .enter_start_btn {
    width: 120px;
    height: 50px;

    margin-right: 0;
    border: outset 5px var(--purewhite);
    margin-top: 20px;
  }
  .enter_start_btn h3 {
    font-size: 2.8em;
    line-height: 43px;
  }
  .enter_login_btn {
    width: 110px;
    height: 45px;
    border: 2px solid var(--purewhite);
    margin-top: 15px;
  }
  .enter_login_btn h3 {
    font-size: 2.5em;

    font-weight: bold;
    text-align: center;
    line-height: 40px;
  }
  /* Navbar --------------------------------------------------*/
  /* hambager */
  #nav-toggle {
    z-index: 21;
  }
  .ham {
    z-index: 21;
    width: 48px;
    height: 48px;

    background: var(--color4);
    display: block;
    position: relative;
    margin-left: 5px;
  }

  .ham-origin {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .ham-bar {
    height: 2px;
    width: 26px;
    position: absolute;
    background: var(--purewhite);
    margin: -1px 0 0 -13px;
    transition: all 0.5s;
  }

  .ham-bar--top {
    transform: translateY(-6px);
  }

  .ham-bar--bottom {
    transform: translateY(6px);
  }

  #nav-toggle {
    display: none;
  }

  #nav-toggle:checked ~ .ham .ham-bar--middle {
    opacity: 0;
  }

  #nav-toggle:checked ~ .ham .ham-bar--top {
    transform: rotate(-45deg);
  }

  #nav-toggle:checked ~ .ham .ham-bar--bottom {
    transform: rotate(45deg);
  }
  /* ------------- */

  .Navbar_content {
    width: 210px;
    height: 100vh;

    background-color: var(--pureblack);
    display: grid;
    grid-template-rows: 15% 55% 30%;
    position: fixed;
    z-index: 20;
    /* justify-content: start; */
    /*  */
    transform: translateX(-100%);
    transition: transform 0.5s;
    /* transform: none; */
    padding-top: 75px;
  }
  .Navbar_a1 {
    /* background-color: rgb(255, 6, 6); */
    /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
    justify-content: start;
    margin-left: 10px;
  }
  .Navbar_a2 {
    /* background: rgb(6, 184, 255); */
    /* display: flex;
  flex-direction: column;
  justify-content: start; */
  }

  .Navbar_a3 {
    /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
    margin-top: 10px;
    justify-content: start;
    align-items: start;
    margin-left: 15px;
    /* background-color: rgb(255, 6, 201); */
  }

  /* a1 */
  .Navbar_member_img {
    width: 50px;
    height: 50px;
  }
  .Navbar_member_text {
  }
  .Navbar_member_text h3 {
    font-size: 1.6em;
    color: var(--purewhite);
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
  }

  /* a2 */
  .navbar_ico {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }
  .navbar_flex {
    /* display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px; */
  }
  .Navbar_w {
    margin-left: 15px;
  }
  .Navbar_w h3 {
    font-size: 1.6em;
    /* color: var(--purewhite);
  font-weight: bold;
  margin: auto; */
  }
  .Navbar_Social {
    /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
   */
    margin-top: 15px;
    justify-content: start;
    margin-left: 15px;
  }

  /* --btn-- */

  /* a3 */

  .navbar_choic_p h3 {
    color: var(--purewhite);
    font-size: 1.6em;
    font-weight: bold;
    margin: auto;
    margin-left: 10px;
  }

  /* --------------------------------------------------*/
  /* Titlebar --------------------------------------------------*/
  .Titlebar_flex {
    z-index: 100;
    width: 100vw;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: var(--color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  }
  .Titlebar_logo {
    width: 156px;
    height: 32px;
    margin-left: 0;
  }
  .Titlebar_search {
    height: 48px;
    width: 48px;
    background: var(--color4);
    margin-right: 5px;
  }
  /* .Titlbar_search_ico {
  width: 47px;
  height: 47px;
} */
  /* HomeContent----------------------------------------------- */
  .HC_container {
    background-color: var(--purewhite);
    margin-left: 0;
    margin-top: 75px;
  }

  .H_Carousel {
    width: 90vw;
    /* margin-left: auto;
  margin-right: auto; */
    margin-top: 50px;
  }
  .H_Carousel_img {
    /* height: 348px;
  background-color: var(--color3);
  color: var(--purewhite);
  display: flex;
  justify-content: center;
  align-items: center; */
    height: 140px;
  }
  .H_line {
    width: 90vw;
    /* margin-left: auto;
  margin-right: auto; */
    margin-top: 30px;
  }
  /* .H_line_box {
  height: 5px;
  background: var(--pureblack);
} */
  /* ---------------------------- */
  .H_middle {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .H_M_a1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .H_M_a2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .H_M_a3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .H_M_a4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .H_img {
    width: 160px;
    height: 160px;
    border-radius: 99px;
  }
  .H_text {
    width: 80vw;
    height: 200px;
    display: flex;
    align-items: center;
    /* margin-left: 90px;
  margin-right: 90px; */
  }
  .H_text p {
    font-size: 1.6em;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
  }
  .H_text p span {
    color: var(--color3);
    font-size: 1.8em;
    font-weight: bold;
  }
  /* ------------------------- */
  .H_bottom {
    width: 100vw;

    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .H_B_img {
    background-image: url(./images/Home/minecraft.png);
    width: 90vw;
    height: 250px;
  }
  .H_B_box {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .H_B_LOGO {
    margin-top: 20px;
    width: 200px;
    height: 80px;
  }
  .H_B_btn {
    width: 80%;
  }
  .H_B_btn h3 {
    font-size: 1.8em;
  }
  /* Footer */
  .Footer_container {
    height: 40px;
    background: var(--color2);
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Footer_container h3 {
    color: var(--pureblack);
    font-size: 1em;
    margin: 0;
  }

  /* ----------------------------------------------- */
  /* Login------------------------------------------ */
  .Login_flex {
    /* min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between; */
    margin-top: 70px;
  }

  .LoginContent_container {
    margin-left: 0;
    height: 85vh;
  }
  .logC_a1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logC_title {
    margin-top: 20px;
  }
  .logC_title h3 {
    /* font-weight: bolder; */
    font-size: 2em;
    line-height: 32px;
    /* display: flex;
  align-items: flex-end; */
    /* text-align: center;
  color: var(--color6);
  margin: 0; */
    border: 2px solid var(--color6);
    padding-left: 5px;
    padding-right: 5px;
  }
  .logC_line {
    /* width: 202px;
  height: 6px;

  background: var(--color6);
  margin-top: 15px; */
    display: none;
  }
  .logC_a2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logC_box {
    width: 80vw;

    background: var(--color6);
    border: 3px solid var(--pureblack);
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .logC_r_google {
    width: 80%;
  }

  .logC_r_google_text h3 {
    font-size: 1.4em;
  }
  /* ----------------------------------------------- */
  /* signup----- */
  .SignupContent_container {
    margin-left: 0;
    min-height: 70vh;
  }
  .SingC_a2 {
    width: 80vw;
  }

  /* Fotgetpwd */
  .ForgetpwdContent_container {
    margin-left: 0;
  }
  .Forget_a2 {
    width: 80vw;
  }
  /* ----------------------------------------------- */
  /* Profile */
  /* a1------------------------------- */
  .ProfileContent_container {
    margin-left: 0;
    margin-top: 75px;
    /* min-height: 70vh; */
    /* display: flex;
  flex-direction: column;
  align-self: center; */
    width: 80vw;
  }
  .PrfC_a1 {
    margin-top: 20px;
  }
  .PrfC_title {
  }
  .PrfC_title h3 {
    font-size: 2em;
    border: 2px solid var(--color6);
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
  }
  .PrfC_line {
    display: none;
  }

  /* a2------------- */
  .PrfC_a2 {
    display: flex;
    flex-direction: column;
  }
  .PrfC_Sbox {
    display: none;
  }

  .PrfC_Bbox {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .PrfC_Bbox_l {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
  }
  .PrfC_photo {
    width: 50px;
    height: 50px;
    border: 2px solid var(--purewhite);
    margin-right: 0;
    margin-right: 20px;
  }
  .PrfC_l_text {
    margin-top: 10px;
  }
  .PrfC_l_text h2 {
    font-weight: bold;
    font-size: 2em;
    line-height: 22px;
  }
  .PrfC_l_text h4 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 22px;
    color: var(--purewhite);
  }

  /* ------ */
  .PrfC_Bbox_r {
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    margin-top: 10px;
    margin-right: 10px;
  }
  .PrfC_Sbox_RWD {
    height: 48px;
    width: 140px;
    background: #fdfdfd;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 15px;
  }
  .PrfC_Sbox_RWD h3 {
    font-weight: bold;
    font-size: 2em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--color6);
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* a3------------- */
  .PrfC_a3 {
    margin-top: 20px;
  }
  .PrfC_choose_area {
    display: flex;
  }
  .PrfC_cho_box {
    width: 80vw;
  }
  .PrfC_cho_box h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: var(--color3);
    margin: 0;
  }

  /* Feed */

  .feed_box {
    width: 220px;
  }
  /* -------------------------------------------------- */
  /* ---YOUTUBER--------------- */
  .Youtube_Container {
    margin-left: 0;

    margin-top: 75px;
    width: 80vw;
  }
  .YTC_line {
    display: none;
  }

  /* ------- */
  .YoutuberList_container {
    min-height: 50vh;
    margin-top: 10px;
  }
  /* ------------ */
  .YTC_Item {
    width: 80vw;
    height: 120px;

    margin-top: 20px;
    margin-bottom: 10px;
  }

  .YTC_people_img {
    width: 60px;
    height: 60px;
  }
  .YTC_people_text {
  }
  .YTC_people_text h3 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 20px;
  }

  .YTC_people_yt h4 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 23px;
  }

  .YTC_btn {
    width: 60px;
    height: 60px;
    margin-left: 10px;
  }

  .YTC_btn h3 {
    font-size: 1.8em;
    line-height: 20px;
  }
  /* --------------------------------------- */

  /* YTSingle */
  .YTSingle_Container {
    margin-left: 0px;
    min-height: 70vh;

    width: 80vw;
    margin-top: 75px;
  }
  .YTS_RWD_hight {
    height: 200px;
  }
  .YTS_a2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .YTS_r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .YTS_intro {
    margin-top: 20px;
    width: 80vw;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .YTS_intro_people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .YTS_intro_people_img {
    width: 70px;
    height: 70px;
  }
  .YTS_intro_people h2 {
    font-weight: bold;
    font-size: 2em;
    line-height: 22px;
    margin-left: 10px;
  }
  .YTS_intro_sub {
    margin: 0;
  }
  .YTS_intro_Hnum {
    margin: 0;
  }
  .YTS_yt_btn {
    width: 80vw;
    height: 40px;
    background: #ff0000;
  }
  .YTS_yt_ico {
    width: 119px;
    height: 25px;
  }
  /* ----------------------- */
  .YTS_a3 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .YTS_a3-1 {
    display: flex;
    flex-direction: column;
  }
  .YTS_a3-1_l {
    width: 100%;
  }
  .YTS_Survival_box {
    width: 80vw;
    height: 40px;
  }
  .YTS_Survival_box h3 {
    font-weight: bold;
    font-size: 2em;
    line-height: 20px;
  }
  .YTS_a3-1_r {
    width: 100%;

    margin-left: 0;
  }
  .YTS_a3-1_r p {
    font-weight: normal;
    font-size: 1.6em;
    margin: 0;
    margin-top: 20px;
  }
  /* --------------------- */
  .YTS_a3-2 {
    flex-direction: column;
    margin-top: 40px;
  }
  .YTS_a3-2_l {
    width: 100%;
  }
  .YTS_Mod_box {
    width: 80vw;
    height: 40px;
  }
  .YTS_Mod_box h3 {
    font-weight: bold;
    font-size: 2em;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: var(--purewhite);
    margin: 0;
  }
  .YTS_Mod_YT {
  }
  .YTS_a3-2_r {
    width: 100%;
    display: flex;
    margin-left: 0;
  }
  .YTS_a3-2_r p {
    font-weight: normal;
    font-size: 1.6em;
    margin-top: 20px;
  }
  /* ------------------------------------- */

  /* ---------ProductHeader_container----------------- */
  .ProductHeader_container {
    margin-left: 0;
    min-height: 50vh;

    width: 80vw;
    margin-top: 75px;
  }

  .PHC_line {
    display: none;
  }
  .PHC_a2 {
  }
  .PHC_Carousel {
    width: 100%;
  }
  .PHC_Carousel_img {
    height: 140px;
  }
  /* --------------------- */
  .ProductNavbar_container {
    margin-top: 35px;
  }
  /* ---------------------- */
  .ProductList_container {
    margin-left: 0;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    width: 60%;
    min-height: 60vh;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  /* ----ProductItem_container--------------------- */
  .ProductItem_container {
    width: 284px;
    height: 230px;
    background: var(--color6);
    border-radius: 8px 8px 8px 8px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pdI_Text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    width: 90%;
  }
  .pdI_Tex_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 10px;
  }
  .pdI_Tex_1 h3 {
    margin-right: 10px;
  }
  .pdI_Tag h4 {
    font-size: 1.4em;
  }

  .pdI_Tex_2 p {
    display: none;
  }
  .pdI_Likeico {
    margin-top: 30px;

    width: 22px;
    height: 22px;
    margin-bottom: 0;
  }
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -----ProductDetail----- */
  .ProductDetail_container {
    margin-left: 0;
    /* min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-self: center; */
    width: 80vw;
    margin-top: 75px;
  }
  .PD_a1 {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .PD_title h3 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 22px;
    color: var(--color6);
    border: 2px solid var(--color6);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  /* a2 */
  .PD_a2 {
    flex-direction: column;
  }
  .PD_a2_l {
    width: 100%;
  }
  .PD_main_img {
    width: 100%;
    height: 238px;
    border-radius: 5px;
  }
  .PD_a2_r {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .PD_a2_r_box1 {
    display: none;
  }

  .PD_a2_r_box2 {
    width: 100%;
    height: 150px;
    background: var(--color6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .PD_a2_r_box2_people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .PD_peopleimg {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    margin-right: 0;
  }
  .PD_a2_r_box2_people h3 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: var(--purewhite);
  }
  .PD_a2_r_box2_info {
  }
  .PD_icon {
    width: 21px;
    height: 21px;
    margin-right: 10px;
  }
  .PD_info_ico {
  }
  .PD_vision_block h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }

  .PD_view h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }

  .PD_view_block h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }

  .PD_download h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }

  .PD_download_block h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }

  .PD_like h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }

  .PD_like_block h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
  }
  .PD_a2_r_box3 {
    width: 100%;
    height: 40px;
    background: var(--color8);
    border-radius: 5px;
  }
  .PD_like_ico {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .PD_a2_r_box3 h3 {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: var(--purewhite);
    margin: 0;
  }
  /* a3 */
  .PD_a3 {
    margin-top: 80px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .PD_a3_T {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .PD_a3_Simg {
    width: 80vw;
    height: 240px;
    border-radius: 10px;
  }
  .PD_a3_T p {
    font-size: 1.4em;
    width: 80vw;
    margin-top: 20px;
  }
  .PD_a3_B {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
  }
  .PD_a3_Simg {
  }
  .PD_a3_B p {
    font-size: 1.4em;
    width: 80vw;
    margin-top: 20px;
  }
  /* a4 */
  .PD_a4 {
    margin-top: 20px;
  }
  .PD_download_bolck {
    display: flex;
    margin-bottom: 8px;
    width: 80vw;
    justify-content: space-between;
  }
  .PD_download_ico {
    width: 40px;
    height: 40px;
    background: #259644;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PD_down_icoimg {
    width: 20px;
    height: 20px;
  }
  .PD_select2 {
    width: 243px;
    height: 40px;
    font-size: 2em;
  }
  .PD_select2 option {
    line-height: 28px;
    display: flex;
    align-items: center;

    color: var(--pureblack);
  }
  .PD_download_btn {
    width: 80vw;
    height: 50px;
  }
  .PD_down_Bicon {
    width: 25px;
    height: 25px;
  }
  .PD_download_btn h3 {
    font-weight: bold;
    font-size: 2em;
    line-height: 23px;
  }
  /* a5 */
  .PD_a5 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .PD_a5-1 {
  }
  .PD_a5-1 h3 {
    font-weight: bold;
    font-size: 2em;
    line-height: 22px;
  }
  .PD_a5_line {
    display: none;
  }
  .PD_From {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .PD_a5-2_btn {
    width: 100px;
    height: 40px;
    background: var(--color6);
    color: var(--purewhite);
    font-weight: bold;
    font-size: 2em;
  }
  .PD_a5-2 {
    width: 100%;
    height: 40px;
    background: var(--color9);
    border: 1px solid rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
    margin-top: 40px;
    margin-right: 20px;
  }
  .PD_a5-2 h3 {
  }
  .PD_a5-3 {
    width: 100%;

    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .PD_a5_message {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .PD_mag_img {
    width: 30px;
    height: 30px;
    border-radius: 99px;
    margin: 0;
    margin-right: 5px;
  }
  .PD_a5_message h3 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: var(--pureblack);
    margin: 0;
    margin-right: 10px;
  }
  .PD_a5_message p {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 23px;
    display: flex;
  }
}
.nav-item--active{
  background-color: var(--color1);
}
.prfc_selected{
  background-color:var(--color4)
}