@import "~antd/dist/antd.css";
/* general */
html {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}
body {
  background-color: rgb(214, 214, 214);
  font-size: 62.5%;
  font-family: sans-serif;
}
.ant-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

/* Enterpage */

.enter_mask {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(45% 0, 100% 0%, 100% 100%, 60% 100%);
  display: flex;
  flex-direction: row-reverse;
}
.enter_img {
  position: absolute;
  background-image: url(./images/enter_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.enter_logo {
  position: absolute;
  z-index: 3;
  right: 0;
  width: 332px;
  height: 54px;
  margin-right: 5%;
  margin-top: 55px;
}

.enter_r {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  margin-top: 100px;
}

.enter_title h3 {
  font-size: 5.8em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: 176px;
  text-align: center;
  margin-bottom: 15%;
}

.enter_r_btn_area {
  display: flex;
}
.enter_start_btn {
  width: 190px;
  height: 80px;

  margin-right: 40px;
}
.enter_start_btn h3 {
  font-size: 4em;
  font-weight: bolder;
  /* color: #000; */
  text-align: center;
  line-height: 80px;
}
.enter_login_btn h3 {
  font-size: 3.6em;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-align: center;
  line-height: 72px;
}
/* ----------btn效果試驗----------------- */
.hvr-wobble-horizontal::before {
  background: #33c754 !important;
}

/* Navbar --------------------------------------------------*/
.Navbar_content {
  width: 247px;
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-rows: 15% 55% 30%;
  position: fixed;
  z-index: 9;
  /* justify-content: start; */
  /*  */
}
.Navbar_a1 {
  /* background-color: rgb(255, 6, 6); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Navbar_a2 {
  /* background: rgb(6, 184, 255); */
}

.Navbar_a3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* background-color: rgb(255, 6, 201); */
}

/* a1 */
.Navbar_member_img {
  width: 60px;
  height: 60px;
}
.Navbar_member_text {
}
.Navbar_member_text h3 {
  font-size: 2.4em;
  color: white;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

/* a2 */
.navbar_ico {
  width: 40px;
  height: 40px;
  margin-left: 55px;
}
.navbar_flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.Navbar_w {
  margin-left: 35px;
}
.Navbar_w h3 {
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  margin: auto;
}
.Navbar_Social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Navbar_twitter {
  width: 39px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.Navbar_facebook {
  width: 39px;
  height: 39px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.Navbar_discord {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
/* --btn-- */
.hvr-fade {
  display: flex !important;
}
.hvr-fade:hover {
  background-color: #33c754 !important;
}
.Navbar_Home:hover .Navbar_w h3 {
  color: #000;
  transition-duration: 0.3s;
}
.Navbar_Mod:hover .Navbar_w h3 {
  color: #000;
  transition-duration: 0.3s;
}
.Navbar_Texture:hover .Navbar_w h3 {
  color: #000;
  transition-duration: 0.3s;
}
.Navbar_Map:hover .Navbar_w h3 {
  color: #000;
  transition-duration: 0.3s;
}
.Navbar_Youtuber:hover .Navbar_w h3 {
  color: #000;
  transition-duration: 0.3s;
}
/* a3 */

.navbar_choic {
  margin-right: 5px;
  cursor: pointer;

  width: 25px;
  height: 25px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar_choic:after {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  content: " ";
  background-color: #ffffff;
  color: rgb(231, 6, 6);
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 50%;
}

.navbar_choic:checked:before {
  content: " ";
  display: block;
  position: relative;
  top: 2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
  background: rgb(21, 150, 4);
  border-radius: 99px;
  color: rgb(235, 15, 15);
  font-weight: 400;
  z-index: 1;
}

.navbar_choic_p h3 {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: bold;
  margin: auto;
  margin-left: 10px;
}
.navbar_choic_flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.Navbar_pk_text {
  margin-right: 25px;
}
.Navbar_ice_text {
  margin-right: 25px;
}
/* --------------------------------------------------*/
/* Titlebar --------------------------------------------------*/
.Titlebar_flex {
  width: 100vw;
  height: 97px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Titlebar_logo {
  width: 308px;
  height: 63px;
  margin-left: 290px;
}
.Titlebar_search {
  height: 48px;
  width: 48px;
  background: #359e1a;
  margin-right: 45px;
}
.Titlbar_search_ico {
  width: 47px;
  height: 47px;
}
/* HomeContent----------------------------------------------- */
.HC_container {
  background-color: #ffffff;
  margin-left: 247px;
}

.H_Carousel {
  width: 918px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 78px;
}
.H_Carousel_img {
  height: 348px;
  background-color: rgb(11, 138, 106);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.H_line {
  width: 1008px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.H_line_box {
  height: 5px;
  background: #000000;
}
/* ---------------------------- */
.H_middle {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.H_M_a1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.H_M_a2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 40px;
}
.H_M_a3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.H_M_a4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 40px;
}

.H_img {
  width: 234px;
  height: 234px;
  border-radius: 15px;
}
.H_text {
  width: 512px;
  height: 245px;
  display: flex;
  align-items: center;
  /* margin-left: 90px;
  margin-right: 90px; */
}
.H_text p {
  font-size: 2.4em;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}
.H_text p span {
  color: #21770b;
  font-size: 2em;
  font-weight: bold;
}
/* ------------------------- */
.H_bottom {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.H_B_img {
  background-image: url(./images/Home/minecraft.png);
  width: 1002px;
  height: 398px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.H_B_box {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.H_B_LOGO {
  margin-top: 20px;
}
.H_B_btn {
  width: 295px;
  height: 61px;
  background: #33c754;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 5px #248a3a;
}
.H_B_btn:hover {
  border: outset 5px #29a143;
}

.H_B_btn h3 {
  font-weight: bold;
  font-size: 2.4em;
  margin: 0;

  color: #000000;
}
/* Footer */
.Footer_container {
  height: 90px;
  background: #eeeeee;
  margin-left: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FC_flex {
  /* align-items: flex-start; */
  /* margin-top: 30px;
  margin-left: 50px; */
}
.Footer_container h3 {
  color: #000;
  font-size: 1.8em;
}

/* ----------------------------------------------- */
/* Login------------------------------------------ */
.Login_flex {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LoginContent_container {
  margin-left: 247px;
  height: 70vh;
}
.logC_a1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logC_title {
  margin-top: 20px;
}
.logC_title h3 {
  font-weight: bolder;
  font-size: 3.6em;
  line-height: 42px;
  /* display: flex;
  align-items: flex-end; */
  text-align: center;
  color: #497554;
  margin: 0;
}
.logC_line {
  width: 202px;
  height: 6px;

  background: #497554;
  margin-top: 15px;
}
.logC_a2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logC_box {
  width: 632px;
  height: 330px;
  background: rgba(41, 168, 76, 0.62);
  border: 3px solid #000000;
  box-sizing: border-box;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.logC_box_l {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.logC_form {
}
.logC_form p {
  font-weight: bold;
  font-size: 2em;
  line-height: 16px;

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #497554;
  margin: 0;
  margin-bottom: 5px;
  margin-top: 30px;
}
.logC_form_input {
  width: 244px;
  height: 38px;
}
/* .logC_form_fgpwd_flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
.logC_form_fgpwd {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #d3ffde;
  margin: 0;
  margin-top: 5px;
}
.logC_form_btn_flex {
  display: flex;
  justify-content: center;
}
.logC_form_btn {
  width: 108px;
  height: 38px;

  background: #497554;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.logC_form_btn h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffffff;
  margin: 0;
}

/* ---------------- */
.logC_box_r {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}
.logC_r_google {
  width: 265px;
  height: 50px;
  background: #ffb7b7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 51px;
}
.logC_r_google_ico {
  width: 35px;
  height: 35px;
}
.logC_r_google_text {
}
.logC_r_google_text h3 {
  font-weight: bold;
  font-size: 2em;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ff0000;
  margin: 0;
}
.logC_r_fb {
  width: 265px;
  height: 50px;
  background: #bfd7fa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.logC_r_fb_ico {
  width: 35px;
  height: 35px;
}
.logC_r_fb_text {
}
.logC_r_fb_text h3 {

  font-weight: bold;
  font-size: 2em;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #287EFF;
  margin: 0;
}
.logC_r_signup {
  width: 108px;
  height: 38px;
  background: #497554;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.logC_r_signup h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  color: #FFFFFF;
  margin: 0;
}
